:root {
    --main-color: #E17100;
    --footer: #13131a;
    --white: #ffffff;
    --bg: #f0f0f0;
    --black: #0000;
    --border: 0.25rem solid rgba(140, 136, 136, 0.24);

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Inter", sans-serif;
    text-transform: none;

}

html {
    scroll-behavior: smooth;
}

#chef {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 0.625rem;
    margin:  1.2rem 0 3rem 0;
    
}

#massa {
    width: 54rem;
    height: 27rem;
    margin: 0 auto;
    
}

#place {
    width: 25.9375rem;
    height: 17.3125rem;

}

.borda {
    max-width: 90rem;
    height: 168.625rem;
    background: #f0f0f0;
}

.info_chef {
    display: flex;
    align-items:start;
    gap: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin-top: 1rem;
    

}

.notice {
    max-width: 72rem;
    margin-top: 10rem !important;
    margin: 0 auto;
    height: 155.75rem;
    border-radius: 0.625rem;
    background: var(--B1, #FFF);
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.40);

}

.borda .notice .margem{
    width: 54rem;
    margin: 0 auto;
}

.borda .notice .margem .inicio {
    padding-top: 0.1rem;

}

.margem h1 {
    color: #E17100;
    margin-top: 10rem;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 0.125rem  solid #5c5145 ;
} 

.margem p{
    color: #404040;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.5rem;
}


p .destaque {
    color: var(--main-color);
}

.borda .notice h2 {
    color: #262626;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.borda .notice h3 {
    color: #404040;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer {
    justify-content: center;
    max-width: 90rem;
    height: 19.875rem;
    margin: 0 auto;
    background-color: #262626;
    color: #f0f0f0;
}

.flogo img {
    margin-left: 8.47rem;
    width: 14.189rem;
    height: 100%;
    margin-top: 1.5rem;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info h2 {
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.info p {
    font-size: 1rem;
    font-weight: 400;
}


#mapa {
    width: 12.46669rem;
    height: 8.5rem;
    object-fit: cover;
    object-position: center;
    margin-left: 2.5rem;
}

.info .contato .item {
    display: flex;
    flex-direction: row;
    margin: 0.625rem;
    gap: 1.3rem;
}

.info .hora {
    display: flex;
    flex-direction: column;
    margin: 0.625rem;
    gap: 0.5rem;
}

.info .social {
    display: flex;
    flex-direction: column;
    margin: 0.625rem 0.625rem 0.625rem 2rem;
    gap: 0.5rem;
}

.info .contato .item img {
    height: 1.5rem;
    width: auto;
}

.info .social .logos img {
    height: 1.5rem;
}


.marca {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    border-top: var(--border);
}

.marca p {
    color: #8e8e8e;
    font-size: 1.125rem;
    font-weight: 300;
    margin-top: 1.75rem;
}

.marca img {
    margin-top: 1.75rem;
    height: 1.76956rem;
    width: auto;
}

.content {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 450px;
    margin: 50px auto;
    border-radius: 10px;
    text-align: center;
}

.content img {
    max-width: 100px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #massa {
        width: 100%;
        height: auto;
    }

    .borda {
        width: 100%;
        height: auto;
    }

    .notice {
        width: 100%;
        height: auto;
    }

    .margem {
        width: 90%;
        margin: 0 auto;
    }
}